:root {
    --bg-color-red: #CC0505;
    --bg-color-black: #232323;
    --accent-color-gray: #DEDEDE;
    --accent-color-blue: #28AAFD;
    --accent-color-green: #51AE5F;
}

body {
    background-color: var(--accent-color-gray);
}

.header { 
    text-align: center;
}

.pokedex {
    min-width: 660px;
}

.pokedexLeft {
    width: 45%;
    min-width: 330px;
    min-height: 500px;
    background-color: var(--bg-color-red);
    border-radius: 50px 0 0 50px;
    left: 0;
    padding: 20px;
}

.screen {

}

.pokedexRight {
    width: 45%;
    min-width: 330px;
    min-height: 500px;
    background-color: var(--bg-color-red);
    border-radius: 0 50px 50px 0;
    right: 0;
    padding: 20px;
}