:root {
    --bg-color-red: #CC0505;
    --bg-color-black: #232323;
    --accent-color-gray: #DEDEDE;
    --accent-color-blue: #28AAFD;
    --accent-color-green: #51AE5F;
}

body {
    background-color: var(--accent-color-gray);
    box-sizing: border-box;
}

.header { 
    text-align: center;
}

/* *************************************************** */
/* ***********       Pokedex Header     ************* */
/* *************************************************** */

.pokedex {
    min-width: 660px;
    width: fit-content;
    margin: 0 auto;
}

.pokedexHeader{
    display: flex;
    /* outline: 1px solid aqua; */
    position: relative;
    z-index: 3;
}

.pokedexLeft-header{
    width: 50%;
    min-width: 330px;
    max-width: 700px;
    min-height: 123px;
    border-radius: 50px 0 0 0px;
    box-shadow: 0px 5px 10px 2px black;
    background-color: var(--bg-color-red);
    display: flex;
}

.camera {
    position: relative;
    top: 25px;
    left: 50px;
    background-color: #232323;
    outline: 7px solid var(--accent-color-gray);
    border-radius: 50%;
    width: 55px;
    height: 55px;
}
.smallCircle {
    position: relative;
    top: 25px;
    outline: 2px solid var(--accent-color-gray);
    border-radius: 50%;
    width: 25px;
    height: 25px;
}
.redCircle{
    background-color: var(--bg-color-red);
    left: 90px;
}
.yellowCircle{
    background-color: #E6FF05;
    left: 105px;
}
.greenCircle{
    background-color: #44FF05;
    left: 120px;
}

/* *************************************************** */
/* ***********       Pokedex Halves     ************* */
/* *************************************************** */

.pokedexMain{
    display: flex;
    position: relative;
    z-index: -1;
}

.pokedexHalf{
    /* width: 50%; */
    width: 500px;
    min-height: 500px;
    max-height: 700px;
}

.pokedexLeft {
    border-radius: 0 0 0 50px;
    left: 0;
    background-color: var(--bg-color-red);
    width: 100%;
    min-height: 500px;
    max-height: 700px;
    margin-top: 0px;
}

.pokedexRight {
    border-radius: 0 50px 50px 0;
    right: 0;
    background-color: var(--bg-color-red);
}

.pokedexCenter{
    position: absolute;
    z-index: 5;
    left: 475px;
    width: 50px;
    height: 100%;
    border-radius: 30px;
    outline: 1px solid black;
    background-color: var(--bg-color-red);
    box-shadow: 5px 2px 3px 3px #484747b4, -5px 2px 3px 3px #484747b4;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.line{
    outline: 1px solid black;
}
.line1{
    margin-top: -25px;
}
.line2{
    margin-top: 25px;
}
.line3{
    margin-top: -25px;
}
.line4{
    margin-top: 25px;
}

/* *************************************************** */
/* ***********       Pokedex Screens     ************* */
/* *************************************************** */

.grayRectangle{
    width: 380px;
    height: 380px;
    background-color: var(--accent-color-gray);
    padding: 20px 0;
}
.grayLeft{
    margin: 0 45px;
    border-radius: 0 0 0 70px;
}
.grayRight{
    /* margin: 100px 55px; */
    border-radius: 0 0 70px 0;
}
.container{
    padding: 70px;
}
.searchBar{
    z-index: 5;
}
.screen{
    position: relative;
    width: 330px;
    height: 300px;
    margin: auto auto;
    background-color: var(--accent-color-blue);
}